<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>

<link rel="stylesheet" href="public/css-2/index.css">


<h1><b>DUDE THERE IS NOTHING HERE, WRITE THE RIGHT PATH!!!!!</b></h1>

</body>
</html>